<div class="page-header">
  <%= link_to new_banco_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Banco
  <% end %>
  <h1>Listing bancos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Sigla</th>
            <th>Morada</th>
            <th>Telefone</th>
            <th>Web site</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bancos) do |banco| %>
            <td><%= banco.nome %></td>
            <td><%= banco.email %></td>
            <td><%= banco.sigla %></td>
            <td><%= banco.morada %></td>
            <td><%= banco.telefone %></td>
            <td><%= banco.web_site %></td>
            <td><%= link_to 'Show', banco %></td>
        <td><%= link_to 'Edit', edit_banco_path(banco) %></td>
        <td><%= link_to 'Destroy', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
